<!DOCTYPE html>
<!--
Copyright (C) 2020 alberto

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add media information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="jumbotron" style="height: 100vh;">
    <div class="container">
        <div class="page-header text-center">
            <h1 class="display-3">Add your media information here</h1>
        </div>
    </div>
    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-8 mx-auto">
                <form action="#" th:action="@{/media}" th:object="${media}" method="post">

                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                    </ul>

                    <div class="form-group">
                        <label><strong>Name</strong></label>
                        <input class="form-control" type="text" th:field="*{name}"/>
                    </div>

                    <div class="form-group">
                        <label><strong>Description</strong></label>
                        <textarea class="form-control" rows="5" type="text" th:field="*{description}"></textarea>
                    </div>


                    <div class="form-group">
                        <label><strong>Extension</strong></label>
                        <select name="extension" id="extension" class="form-control" th:field="*{extension}">
                            <option th:each="Extension: ${T(com.myhouse.mvc.model.MediaExtension.Extension).values()}"
                                    th:value="${Extension}"
                                    th:text="${Extension.getDisplayName()}"></option>
                        </select>
                    </div>

                    <div class="input text-center">
                        <input class="btn btn-outline-primary rounded" type="submit" value="Submit media"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
