<!DOCTYPE html>
<!--
Copyright (C) 2020 alberto

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show Audio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    </head>
    <body>

    <div class="container">
        <div class="page-header text-center pb-5">
            <h1 class="display-2">Audio information</h1>
        </div>
    </div>


    <form action="#" th:action="@{/media/show}" th:object="${media}" method="get">
        <div class="card card-cascade wider reverse text-center pt-5 bg-light">

            <h2 class="card-title">
                <span th:text="${media.name}"/>
            </h2>

            <div>
                <audio type="audio/${media.extension.name()}">
                    <source th:src="${data}"/>
                </audio>
            </div>

            <div class="card-body card-body-cascade text-center">
                <p class="card-text" th:text="${media.description}"/>
            </div>

            <div class="card-footer">
                <p>Extension: <span th:text="${media.extension}"/></p>
                <p>State: <span th:text="${media.state}"/></p>
            </div>

        </div>
    </form>
    </body>
</html>
