<!DOCTYPE html>
<!--
Copyright (C) 2020 alberto

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload media</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="jumbotron text-center" style="height: 100vh;">
    <h1 class="display-3">You can now upload your media</h1>
    <div class="mx-auto pt-5 pb-5" style="width: 200px;">
        <img th:src="@{https://image.flaticon.com/icons/svg/901/901513.svg}" alt="medias" width="150" class="mb-4">
    </div>
    <hr class="my-4">
    <form action="#" th:action="@{/media/upload}" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
            <input id="file" type="file" name="file" class="form-control border-0" onchange="readURL(this);"
                   style="opacity: 0;">
            <label id="file-label" for="file" class="font-weight-light text-muted"
                   style="position: absolute;top: 50%;left: 1rem;transform: translateY(-50%);">Choose file</label>
            <div class="input-group-append">
                <label for="file" class="btn btn-light m-0 rounded-pill px-4">
                    <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                    <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
                </label>
            </div>
        </div>
        <div class="input pt-5 pb-5">
            <input class="btn btn-outline-primary rounded" type="submit" value="Submit media"/>
        </div>
    </form>
    </hr>
</div>

<script>
var input = document.getElementById('file');
var infoArea = document.getElementById('file-label');

input.addEventListener('change', showFileName);

function showFileName(event) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'File name: ' + fileName;
}
</script>
</body>
</html>
